$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  h1 {
    margin-top: 0;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#upload-image input {
  visibility: hidden;
}
.dropzone {
  border: none;
}
.dropzone .dz-preview .dz-image {
  width: auto;
  height: 300px;
  max-width: 500px;
  img {
    transform: scale(1.05, 1.05) !important;
    -webkit-filter: blur(6px) !important;
    filter: blur(6px) !important;
  }
}
.dropzone .dz-preview {
  margin-top: 0;
}
.dropzone.dz-started {
  background-color: transparent;
}
.dropzone {
  border-radius: $border-radius-large;
}
.dropzone .dz-preview.dz-image-preview {
  background-color: transparent;
}
.dropzone.dz-drag-hover {
  border: none;
  background-color: #337ab7;
  color: #fff;
}
.dz-filename,
.dz-size {
  display: none
}

#main-window {
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}

#intro-text {
  padding-bottom: 1em;
  overflow: hidden;
}

.dropzone .dz-message {
  margin-top: 1em;
}

#process-text,
#select-areas-text,
#blurred-text,
#start-over-button,
#download-button {
  display:none;
}
.process-spinner {
  font-size: 3em;
  opacity: 0.8;
  display: none;
  width: 1em;
  height: 1em;
  text-align: center;
  color: #fff;
  z-index: 2000;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;

  animation-name: rotate-this;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#preview-template .process-spinner {
  display: none !important;
}
.dropzone .dz-preview .dz-image,
.dropzone .dz-preview .dz-image img {
  border-radius: $border-radius-large;
}

@keyframes rotate-this {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

#picture-wrapper {
  margin-top: 2em;
  display: none;
  border-radius: $border-radius-large;

  img {
    max-width: 100%;
    max-height: 600px;
    border-radius: $border-radius-large;
    left:0;
  }

  & > div {
    margin: 0 auto;
  }

  .blurred {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
  }

  .select-areas-overlay {
    display: none !important;
  }

  .select-areas-background-area {
    background: rgba(92, 184, 92, 0.74) !important;
  }
  &.editing .select-areas-background-area {
    background: rgba(240, 165, 46, 0.72) !important;
  }

  .select-areas-outline {
    background: transparent !important;
  }
}

#areas-functions {
  margin-top: 2em;
  display: none;
}

button, input {
  outline: none !important;
}

.tooltip {
  line-height: 1.25em;
}